<div class="container table-bordered">
    <div class="row">
        <div class="col-*-*">
            <p>{{ 843 / 40 }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p><span data-ng-bind="firstname"></span></p>
        </div>
        <div class="col-lg-2">
            <p><span data-ng-bind="lastname"></span></p>
        </div>
    </div>
</div>

<div class="container table-bordered">
    <div class="row">
        <div class="col-lg-4">
            <p>{{ firstname }}</p>
        </div>
        <div class="col-lg-4">
            <p>{{ lastname }}</p>
        </div>
    </div>
    <div class="row" ng-click=onMouseClicked() style="background: #b2dba1">
        <div class="col-lg-6">
            <p ng-hide="hideFirstName" style="background: {{backcolor}}">{{ firstname2 | uppercase}}</p>

            <p>{{ lastname2 | uppercase }}</p>
        </div>
    </div>
</div>

<!-- ng-model ... Every letter we type here is reflected back into the firstname field -->
<div>
    <form name="inputForm">
        <input type="text" ng-model="firstname"/>
        <input type="submit" ng-click="onSearch(firstname)">
    </form>
</div>
